detach   1
neverolde   ^https?://wiki\.hackspace\.org\.uk
<server>
    <irc.freenode.net>
        <channel>
            <flusspferd>
            </flusspferd>
            <juicejs>
            </juicejs>
            <london-hack-space-dev>
            </london-hack-space-dev>
            <#ukpolitics>
            </#ukpolitics>
            <dc4420>
            </dc4420>
        </channel>
        nick   earlbot
    </irc.freenode.net>
    <irc.afternet.org>
        <channel>
            <randomnine>
            </randomnine>
        </channel>
        nick   earl
    </irc.afternet.org>
</server>
