detach   1
neverolde   ^https?://wiki\.hackspace\.org\.uk
<server>
    <irc.freenode.net>
        # Leave off the leading # in channel names
        channel flusspferd
        channel juicejs
        channel london-hack-space-dev
        channel \#ukpolitics # This will join ##ukpolitics
        channel dc4420
        nick   earlbot
    </irc.freenode.net>
    <irc.afternet.org>
        channel randomnine
        nick   earl
    </irc.afternet.org>
</server>
